.start {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 5em;
}

#clock {
    position: relative;
    width: 378px;
    height: 378px;
    background-image: url('../img/clockFace.png');
    left: 50%;
    margin: 5em 0 0 -189px;
}

#clock div {
    position: absolute;
}

#hour, #minute, #second{
    animation-name: rotation;
    animation-iteration-count: infinite;
}

#hour {
    animation-duration: 4320s;
}
#minute {
    animation-duration: 360s;
}
#second {
    animation-duration: 60s;
}


/* ANIMACIONES Y TRANSFORMACIONES */

@keyframe rotation{
from{
    transform: rotate(0);
}
to{
    transform: rotate(360deg);
}
}
